@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: medium;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: "Courier New", Courier, monospace, sans-serif;
  font-weight: 900;
}

.hidden {
  opacity: 1;
}

.show {
  opacity: 1;
  color: #d9001a;
  transform: translateX(0px);
}

.center {
  align-self: center;
}

.mobile {
  display: none;
}
@media screen and (max-width: 50rem) {
  .mobile {
    display: block;
  }
}

.computer {
  display: block;
}
@media screen and (max-width: 50rem) {
  .computer {
    display: none;
  }
}

.first {
  position: static;
  margin-top: 5rem;
}

.category {
  position: relative;
  font-size: 40px;
  font-weight: 900;
  color: white;
  background-color: #d9001a;
  margin: 1rem 20rem;
  padding: 0.5rem;
  align-self: flex-start;
}
@media screen and (max-width: 50rem) {
  .category {
    align-self: center;
  }
}

a {
  text-decoration: none;
  color: rgb(161, 161, 161);
}

.header {
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 5rem;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: all 1s;
  width: 100vw;
}

.header.visible {
  background-color: white;
  color: rgb(161, 161, 161);
}

.header a {
  margin: 0 10px;
}

.header__mobile {
  transform: calc(-100% - 5rem);
  z-index: 103;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(161, 161, 161);
  transition: all 1s;
}
@media (min-width: 50rem) {
  .header__mobile {
    display: none;
  }
}
.header__mobile.active {
  left: 0;
}
.header__mobile a {
  margin: 2rem;
  color: white;
}

.logo {
  margin-right: auto;
  transform: scale(0.6);
  transition: all 1s;
}

.logo.visible {
  transform: scale(0.5);
}

.don {
  color: transparent;
  transition: all 1s;
  width: 0px;
  overflow: hidden;
  height: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.don.visible {
  color: #d9001a;
  width: 15rem;
  height: 80%;
}

.don.visible:hover {
  color: #d9001a;
  width: 17rem;
  height: 80%;
}

.don__button {
  background-color: #d9001a;
  border: none;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  transition: transform 0.5s;
}

.don__button:hover {
  transform: scale(1.2);
}

.separation {
  width: 1px;
  background-color: rgb(161, 161, 161);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 100%;
}

.first-link {
  align-self: flex-end;
  margin-right: 5rem;
}

.last-link {
  margin-right: 5rem;
}

.icon {
  text-align: center;
}

.footer {
  background-color: #d9001a;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 50rem) {
  .footer {
    flex-direction: row;
  }
}

.footer__col {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 1rem 2rem;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(161, 161, 161);
}
@media screen and (min-width: 50rem) {
  .footer__col {
    border-bottom: none;
  }
}

.footer p {
  color: white;
  margin-top: 0;
}
.footer p.address {
  font-size: small;
  color: rgb(187, 185, 185);
}

.actus {
  display: flex;
}

.articles {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
}

.article {
  color: transparent;
  height: 30rem;
  font-family: "alfa slab one", cursive;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 50rem) {
  .article {
    width: 100vw;
    z-index: -10;
    visibility: hidden;
    position: absolute;
    left: 1000px;
    top: 0;
    transition: all 1s;
  }
}
@media screen and (min-width: 50rem) {
  .article {
    position: static;
    width: calc(33.3333333333% - 10px);
    margin: 10px;
  }
}

.article h4 {
  font-family: "alfa slab one", cursive;
  color: #d9001a;
}

@media screen and (max-width: 50rem) {
  .article.article-active {
    z-index: 2;
    left: 0;
    visibility: visible;
  }
}

@media screen and (max-width: 50rem) {
  .article.article-previous {
    z-index: -2;
    left: -1000px;
  }
}

.article--1 {
  background-image: url("/public/MNAInvry.jpg");
}

.article--2 {
  background-image: url("/public/MSB158742.jpg");
}
@media screen and (max-width: 50rem) {
  .article--2 {
    left: 1000px;
  }
}

.article--3 {
  background-image: url("/public/syrie.jpg");
}

.article .title {
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  margin: 1rem;
}

.article .description {
  color: #d9001a;
  font-size: large;
  margin-left: 1.5rem;
  width: 40%;
}

.wrapper {
  position: relative;
  z-index: 0;
  height: 30rem;
  width: 100vw;
  background-color: transparent;
  overflow: hidden;
  background-color: aqua;
}
@media screen and (min-width: 50rem) {
  .wrapper {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.news {
  left: 0;
  top: 0;
  height: 12rem;
  width: 1px;
  display: flex;
  align-items: center;
  transition: all 1s;
}

.news__item {
  min-width: 20rem;
  max-width: 20rem;
  height: 10rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 1rem;
  box-shadow: 5px 7px #d9001a;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
}
.news__item .title {
  margin-left: 0.5rem;
  color: #d9001a;
}
.news__item .title--big-red {
  align-self: center;
  color: white;
  background-color: #d9001a;
}
.news__item .description {
  margin: 0.5rem;
  color: black;
}
.news__item .date {
  margin: 0.5rem;
  color: rgb(161, 161, 161);
}

.wrapper__article {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 2rem;
  width: 100vw;
  background-color: transparent;
  margin-bottom: 2rem;
}

.wrap {
  position: relative;
  height: 12rem;
  width: 1px;
}

.article__button {
  background-color: #d9001a;
  border: none;
  height: 3rem;
  width: 4rem;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  transition: transform 0.5s;
  cursor: pointer;
  margin: 1rem;
}

.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40rem;
  background-color: blue;
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  width: 100%;
}
@media screen and (max-width: 50rem) {
  .presentation {
    height: 30rem;
  }
}

.image-presentation {
  height: 30rem;
  width: 50rem;
  background-size: cover;
  background-position: center;
  box-shadow: 10px;
  transform: translateY(10rem);
  margin-bottom: 1rem;
}
@media screen and (max-width: 50rem) {
  .image-presentation {
    width: 80vw;
    transform: translateY(3rem);
  }
}
.parallel {
  top: 0;
  width: 20rem;
  height: 20rem;
  clip-path: polygon(10% 0%, 50% 100%, 100% 100%, 60% 0%);
  background-position: center;
  background-size: cover;
  margin: 1rem 2rem;
  filter: grayscale(100%);
}
.parallel:hover {
  transition: all 1s;
  filter: grayscale(0%);
}
@media screen and (max-width: 50rem) {
  .parallel {
    clip-path: none;
    width: 5rem;
    height: 15rem;
  }
  .parallel:hover {
    z-index: 100;
    width: 10rem;
  }
}
@media screen and (min-width: 50rem) {
  .parallel:hover {
    clip-path: polygon(5% 0%, 45% 100%, 105% 100%, 65% 0%);
  }
}

.par--1 {
  z-index: 11;
  position: absolute;
  background-image: url("/public/ghassan_abou_chaar-3287358642.jpg");
  transition: transform 1s 0.2s;
  transform: translateX(-822rem);
}
.par--1:hover::before {
  position: fixed;
  right: 0;
  bottom: 0;
  content: "vice président \aGhassan ABOU CHAAR";
  background-color: white;
  padding: 10px;
  word-wrap: break-word;
  white-space: pre;
}
@media screen and (max-width: 50rem) {
  .par--1:hover::before {
    font-size: small;
    content: "vice président \aGhassan \a ABOU CHAAR";
  }
}

.par--2 {
  z-index: 10;
  position: absolute;
  background-image: url("/public/Linda-987x1024.png");
  transition: transform 1s 0.5s;
  transform: translateX(-800rem);
}
.par--2:hover::after {
  position: fixed;
  right: 0;
  bottom: 0;
  content: "vice-président \a Dr Linda Woi-Messe";
  background-color: white;
  padding: 10px;
  white-space: pre;
}
@media screen and (max-width: 50rem) {
  .par--2:hover::after {
    font-size: small;
  }
}

.par--3 {
  z-index: 9;
  position: absolute;
  background-image: url("/public/president.webp");
  transition: transform 1s 0.8s;
  transform: translateX(-792rem);
}
.par--3:hover::after {
  position: fixed;
  right: 0;
  bottom: 0;
  content: "presidente \a Dr Isabelle Defourny";
  background-color: white;
  padding: 10px;
  word-wrap: break-word;
  white-space: pre;
}
@media screen and (max-width: 50rem) {
  .par--3:hover::after {
    content: "presidente \a Dr \aIsabelle Defourny";
    font-size: small;
  }
}

.show .par--1 {
  transform: translateX(50vw);
}
@media screen and (max-width: 50rem) {
  .show .par--1 {
    transform: translateX(calc(50vw + 2rem));
  }
}

.show .par--2 {
  transform: translateX(calc(50vw - 12rem));
}
@media screen and (max-width: 50rem) {
  .show .par--2 {
    transform: translateX(calc(50vw - 4rem));
  }
}

.show .par--3 {
  transform: translateX(calc(50vw - 24rem));
}
@media screen and (max-width: 50rem) {
  .show .par--3 {
    transform: translateX(calc(50vw - 10rem));
  }
}

.members {
  position: relative;
  height: 22rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 50rem) {
  .members {
    height: 17rem;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actions p {
  max-width: 50vw;
  color: black;
  margin-left: 2rem;
  font-family: "alfa-slab-one", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5;
}

.action__item {
  width: 100vw;
  height: 20rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
.action__item .title {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  text-align: left;
  margin: 1rem;
  font-size: 50px;
}
@media screen and (min-width: 50rem) {
  .action__item .title {
    font-size: 100px;
  }
}
.action__item .description {
  color: white;
  background-color: #d9001a;
  font-size: large;
  margin-left: 1.5rem;
  width: 40%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.buttons button {
  margin: 0.5rem;
  background-color: #d9001a;
  border: none;
  height: 3rem;
  width: 4rem;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  transition: transform 0.5s;
  cursor: pointer;
}
.buttons button:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=styles.css.map */
