body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: medium;
}
h1 {
  font-family: "Courier New", Courier, monospace, sans-serif;
  font-weight: 900;
}
.hidden {
  opacity: 1;
}

.show {
  opacity: 1;
  color: red;
  transform: translateX(0px);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 5rem;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: all 1s;
  z-index: 10;
  width: 100vw;
}
.header.visible {
  background-color: white;
  color: #bdbdbd;
}
.header a {
  margin: 0 10px;
}
.logo {
  margin-right: auto;
  transform: scale(0.6);
  transition: all 1s;
}
.logo.visible {
  transform: scale(0.5);
}
.presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40rem;
  background-image: url("../public/background-presentation.webp");
  background-color: blue;
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  width: 100%;
  @media screen and (max-width: 50rem) {
    height: 30rem;
  }
}
.image-presentation {
  height: 30rem;
  width: 50rem;
  background-image: url("../public/background-presentation.webp");
  background-size: cover;
  background-position: center;
  box-shadow: 10px;
  transform: translateY(10rem);
  margin-bottom: 1rem;
  @media screen and (max-width: 50rem) {
    width: 80vw;
    transform: translateY(3rem);
  }
  @media screen and (min-width: 50rem) {
  }
}
.don {
  color: transparent;
  transition: all 1s;
  width: 0px;
  overflow: hidden;
  height: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.don.visible {
  color: red;
  width: 15rem;
  height: 80%;
}
.don.visible:hover {
  color: red;
  width: 17rem;
  height: 80%;
}
.don__button {
  background-color: red;
  border: none;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  transition: transform 0.5s;
}
.don__button:hover {
  transform: scale(1.2);
}
.separation {
  width: 1px;
  background-color: #bdbdbd;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 100%;
}
.first {
  position: static;
  margin-top: 5rem;
}
.actus {
  display: flex;
}
.mobile {
  @media screen and (min-width: 50rem) {
    display: none;
  }
}
.computer {
  @media screen and (max-width: 50rem) {
    display: none;
  }
}
.articles {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
}
.article {
  color: transparent;
  height: 30rem;
  font-family: "alfa slab one", cursive;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);

  @media screen and (max-width: 50rem) {
    width: 100vw;
    z-index: -10;
    visibility: hidden;
    position: absolute;
    left: 1000px;
    top: 0;
    transition: all 1s;
  }
  @media screen and (min-width: 50rem) {
    position: static;
    width: calc(100% / 3 - 10px);
    margin: 10px;
  }
}
.article h4 {
  font-family: "alfa slab one", cursive;
  color: red;
}
.article.article-active {
  @media screen and (max-width: 50rem) {
    z-index: 2;
    left: 0;
    visibility: visible;
  }
}
.article.article-previous {
  @media screen and (max-width: 50rem) {
    z-index: -2;
    left: -1000px;
  }
}

.icon {
  text-align: center;
}
.last-link {
  margin-right: 5rem;
}
.article--1 {
  background-image: url("/public/MNAInvry.jpg");
}
.article--2 {
  @media screen and (max-width: 50rem) {
    left: 1000px;
  }
  background-image: url("/public/MSB158742.jpg");
}
.article--3 {
  background-image: url("/public/MSF135472.webp");
}
.article .title {
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
  margin: 1rem;
}
.article .description {
  color: red;
  font-size: large;
  margin-left: 1.5rem;
  width: 40%;
}
.wrapper {
  @media screen and (max-width: 50rem) {
    position: relative;
  }
  @media screen and (min-width: 50rem) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  z-index: 0;
  height: 30rem;
  max-width: 1400px;
  background-color: transparent;
}
.footer {
  height: 25rem;
  background-color: rgb(254, 67, 67);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallel {
  top: 0;
  width: 20rem;
  height: 20rem;
  clip-path: polygon(10% 0%, 50% 100%, 100% 100%, 60% 0%);
  background-position: center;
  background-size: cover;
  margin: 1rem 2rem;

  filter: grayscale(100%);
  &:hover {
    transition: all 1s;
    filter: grayscale(0%);
  }

  @media screen and (max-width: 50rem) {
    clip-path: none;
    width: 5rem;
    height: 15rem;
    &:hover {
      z-index: 100;
      width: 10rem;
    }
  }
  @media screen and (min-width: 50rem) {
    &:hover {
      clip-path: polygon(5% 0%, 45% 100%, 105% 100%, 65% 0%);
    }
  }
}

.par--1 {
  z-index: 11;
  position: absolute;
  background-image: url("/public/ghassan_abou_chaar-3287358642.jpg");
  transition: transform 1s 0.2s;
  transform: translateX(-822rem);
  &:hover::before {
    position: fixed;
    right: 0;
    bottom: 0;
    content: "vice président \A Ghassan ABOU CHAAR";
    background-color: white;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre;
    @media screen and (max-width: 50rem) {
      font-size: small;
      content: "vice président \A Ghassan \A ABOU CHAAR";
    }
  }
}
.par--2 {
  z-index: 10;
  position: absolute;
  background-image: url("/public/Linda-987x1024.png");
  transition: transform 1s 0.5s;
  transform: translateX(-800rem);
  &:hover::after {
    position: fixed;
    right: 0;
    bottom: 0;
    content: "vice-président \a Dr Linda Woi-Messe";
    background-color: white;
    padding: 10px;
    white-space: pre;
    @media screen and (max-width: 50rem) {
      font-size: small;
    }
  }
}
.par--3 {
  z-index: 9;
  position: absolute;
  background-image: url("/public/president.webp");
  transition: transform 1s 0.8s;
  transform: translateX(-792rem);
  &:hover::after {
    position: fixed;
    right: 0;
    bottom: 0;
    content: "presidente \A Dr Isabelle Defourny";
    background-color: white;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre;
    @media screen and (max-width: 50rem) {
      content: "presidente \A Dr \A Isabelle Defourny";
      font-size: small;
    }
  }
}

.show .par--1 {
  transform: translateX(calc(100vw / 2));
  @media screen and (max-width: 50rem) {
    transform: translateX(calc((100vw / 2) + 4rem));
  }
}
.show .par--2 {
  transform: translateX(calc((100vw / 2) - 12rem));
  @media screen and (max-width: 50rem) {
    transform: translateX(calc((100vw / 2) - 2rem));
  }
}
.show .par--3 {
  transform: translateX(calc((100vw / 2) - 24rem));
  @media screen and (max-width: 50rem) {
    transform: translateX(calc((100vw / 2) - 8rem));
  }
}
.members {
  position: relative;
  height: 22rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 50rem) {
    height: 17rem;
  }
}
.news {
  width: 200vw;
  transform: translateX(calc(100vw - 10rem));
  left: 0;
  top: 0;
  height: 12rem;
  position: static;
  display: flex;
  align-items: center;
  transition: all 1s;
}
.news__item {
  min-width: 20rem;
  max-width: 20rem;
  height: 10rem;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 1rem;
  box-shadow: 5px 7px red;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  & .title {
    color: red;
  }
  & .title--big-red {
    align-self: center;
    color: white;
    background-color: red;
  }
  & .description {
    margin: 0.5rem;
    color: black;
  }
  & .date {
    margin: 0.5rem;
    color: rgb(102, 101, 101);
  }
}
.wrapper__article {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 2rem;
  width: 100vw;
  background-color: transparent;
}
.wrap {
  position: relative;
  height: 12rem;
  width: 1px;
}
.article__button {
  background-color: red;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  transition: transform 0.5s;
}
.category {
  position: relative;
  font-size: 40px;
  font-weight: 900;
  color: white;
  background-color: red;
  margin: 1rem 20rem;
  padding: 0.5rem;
  align-self: flex-start;

  &::after {
    max-height: 10px;
    width: 300px;
    background-color: red;
    position: absolute;
    bottom: -10px;
    right: 0;
    content: "";
  }
  &::before {
    max-height: 10px;
    width: 300px;
    background-color: red;
    position: absolute;
    top: -10px;
    left: 0px;
    content: "";
  }
}
